body {
    background-color: white;
    margin: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.nav-container {
    background-color: #002c55;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
}

.nav-item {
    margin: 0.5rem;
}

img {
    height: 4rem;
}

a {
    color: white;
    font-style: italic;
    text-decoration: none;
    font-size: 1.7rem;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.black-link {
    color: black;
    font-style: italic;
    text-decoration: none;
    font-size: 2rem;
}

.black-link:hover {
    color: blue;
    text-decoration: underline;
}

MenuText {
    color: white;
}

.apothekers {
    display: flex;
    text-align: center;
    margin-top: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.apotheker {
    text-align: center;
    margin: 2rem;
}

.medicine-item {
    margin-bottom: 20px;
}

.medicine-item h5 {
    display: inline;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
}

.medicine-item p {
    display: inline;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
}