{% extends "base/base.html" %}

{% block content %}
<h1>Mijn Afhaalacties</h1>
<form method="post" action="{% url 'update_afhaalacties' %}">
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Medicijn</th>
                <th>Datum</th>
                <th>Afgehaald</th>
                <th>Goedgekeurd</th>
                <th>Selecteren</th>
            </tr>
        </thead>
        <tbody>
            {% for collection in collections %}
            <tr>
                <td>{{ collection.Medicine.Name }}</td>
                <td>{{ collection.Date }}</td>
                <td>{{ collection.Collected|yesno:"Ja,Nee" }}</td>
                <td>{{ collection.CollectedApproved|yesno:"Ja,Nee" }}</td>
                <td>
                    {% if not collection.Collected %}
                        <input type="checkbox" name="collection_{{ collection.id }}" value="true">
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit"><strong>Afhalen bevestigen</strong></button>
</form>
{% endblock %}
