{% extends "base/base.html" %}

{% block content %}
<h1>Bevestig Afhaalacties</h1>
{% for collection in collections %}
    <strong>Gebruiker: </strong> {{ collection.User.username }}<br>
    <strong>Medicijn: </strong> {{ collection.Medicine.Name }}<br>
    <strong>Datum: </strong> {{ collection.Date }}<br>
    <a href="{% url 'approve_afhaalactie' collection.pk %}" class="nav-item black-link"><button><strong>Approve</strong></button></a>
    <a href="{% url 'deny_afhaalactie' collection.pk %}" class="nav-item black-link"><button><strong>Deny</strong></button></a><br>
    <br>
{% endfor %}
{% endblock %}