{% extends "base/base.html" %}

{% load static %}

{% block content %}
    <h1>Welkom bij Regionale Apotheek Rotterdam-Zuid<h1>
    <h2>Jouw Apothekers:<h2>
        <div class="apothekers">
            <div class="apotheker">
                <img src="{% static 'base/img/blank-pfp.jpeg' %}" alt="Damian Willemse">
                <h5>Damian Willemse</h5>
            </div>
            <div class="apotheker">
                <img src="{% static 'base/img/blank-pfp.jpeg' %}" alt="Hicham Tahiri">
                <h5>Hicham Tahiri</h5>
            </div>
        </div>
{% endblock content %}