{% extends "base/base.html" %}

{% block content %}
    <h1> Medicijnen </h1>
    {% if user.is_staff %}
        <a href="{% url 'new_medicine' %}" class="nav-item black-link"><button><strong>Nieuwe medicijn toevoegen</strong></button></a>
    {% endif %}
    {% for medicine in medicines %}
        <div class="medicine-item">
            <h5>Name:</h5> <p>{{ medicine.Name }}</p>
            <h5>Manufacturer:</h5> <p>{{ medicine.Manufacturer }}</p>
            <h5>Cures:</h5> <p>{{ medicine.Cures }}</p>
            <h5>Side effects:</h5> <p>{{ medicine.SideEffects }}</p>
        </div>
    {% endfor %}
{% endblock %}