{% load static %}
    
    <div class="nav-container">
        <p><img src="{% static "base/img/ApotheekLogo.png" %}" alt="Logo"></p>
        <h2><MenuText>Regionale Apotheek<br>Rotterdam-Zuid</MenuText></h2>
        {% if user.is_authenticated %}
            <a href="{% url 'index' %}" class="nav-item">Home</a>
            {% if user.is_staff %}
            {% endif %}
            <a href="{% url 'logout_user'%}" class="nav-item">Logout</a>
        {% else %}
            <a href="{% url 'login'%}" class="nav-item">Login</a>
            <a href="{% url 'register'%}" class="nav-item">Register</a>
        {% endif %}
        <h2><MenuText><MenuText></h2>
        
    </div>