{% load static %}
    
    <div class="nav-container">
        <p><img src="{% static "base/img/ApotheekLogo.png" %}" alt="Logo"></p>
        <h2><MenuText>Regionale Apotheek<br>Rotterdam-Zuid</MenuText></h2>
        <a href="{% url 'index' %}" class="nav-item">Home</a>
        {% if user.is_authenticated %}
            {% if user.is_staff %}
                <a href="{% url 'confirm_afhaalacties' %}" class"nav-item"> Niet-goedgekeurde afhaalacties</A>
                <a href="{% url 'manage_collections' %}" class"nav-item"> Afhaalactie Klaarzetten</A>
            {% endif %}
            <a href="{% url 'afhaalacties' %}" class="nav-item">Afhaalacties</a>
            <a href="{% url 'medicine' %}" class="nav-item">Medicijnen</a>
            <a href="{% url 'profile'%}" class="nav-item">Profiel</a>
            <a href="{% url 'logout_user'%}" class="nav-item">Logout</a>
        {% else %}
            <a href="{% url 'login'%}" class="nav-item">Login</a>
            <a href="{% url 'register'%}" class="nav-item">Register</a>
        {% endif %}
        <h2><MenuText><MenuText></h2>
        
    </div>